<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.matrix.batterycanary">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application>
        <service android:name=".utils.CanaryUtilsTest$SpyService">
        </service>
        <service android:name=".utils.CanaryUtilsTest$SpyForeGroundService"
            android:process=":fore">
        </service>
    </application>

</manifest>

