<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.component.backtrace" >

    <permission android:name="${applicationId}.quicken.warmed_up" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.quicken.warmed_up" />

</manifest>
