<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.matrix.batterycanary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".stats.ui.BatteryStatsActivity" />
    </application>

</manifest>

