<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tencent.matrix.resource">
    <permission android:name="${applicationId}.manual.dump" android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.manual.dump" />

    <application>
        <service
                android:name=".CanaryWorkerService"
                android:process=":res_can_worker"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="false">
        </service>
        <service
                android:name=".CanaryResultService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="false">
        </service>
    </application>

</manifest>